<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>registration</title>
</head>
<body>
     <div class="container">
         <div class="form-container">
             <div class="logo">
                 <img src="{% static 'images/logo05.png' %}" alt="logo">
             </div>
             <h1>Registration</h1>
             <form method="POST">
                 {% csrf_token %}
                 <div class="input-block">
                     <label for="username">Username</label>
                     <input type="text" name="username" id="username" placeholder="Enter your username">
                 </div>
                 <div class="input-block">
                     <label for="email">Email</label>
                     <input type="email" name="email" id="email" placeholder="Enter your email">
                 </div>
                 <div class="input-block">
                     <label for="password">Password</label>
                     <input type="password" name="password" id="password" placeholder="Enter your password">
                 </div>
                 <div class="input-block">
                     <label for="confirm-password">Confirm Password</label>
                     <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm your password">
                 </div>
                 <div class="button-block">
                     <button type="submit">Register</button>
                 </div>
                 <div class="button-block">
                     <a href="/" class="btn">Login</a>
                 </div>
             </form>
         </div>
     </div>
</body>
</html>